@import "../_mixins/btn-hover";

// Button //
.btn {
  background: $color-link-primary;
  border: solid 0.1rem $color-link-primary;
  border-radius: $border-radius-medium;
  color: $color-white;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0.8rem 0;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    @include btn-hover;
  }

  &.btn-outline {
    background: $color-white;
    border: solid 0.1rem $color-link-primary;
    color: $color-link-primary;

    &:hover {
      @include btn-hover;
    }
  }
}

// Filter buttons
.filters {
  margin-bottom: 1.6rem;

  .btn-filter {
    background: $color-white;
    border: 0.1rem solid $color-copy;
    border-radius: 2rem;
    color: $color-copy;
    margin-right: 0.8rem;

    &:hover {
      background: $color-copy;
      color: $color-white;
    }
    &.active {
      background: $color-link-primary;
      border: 0.1rem solid $color-link-primary;
      color: $color-white;
    }
  }
}
