:root {
  --brand-10: #e7f5f7;
  --brand-20: #c1e6ea;
  --brand-30: #85d1d7;
  --brand-40: #00afb9;
  --brand-50: #006a6f;
  --brand-60: #013d41;
  --brand-00: var(--brand-40);

  --grey-10: #f2f6f7;
  --grey-20: #e1eaec;
  --grey-30: #bac4c8;
  --grey-40: #89949b;
  --grey-50: #4b555c;
  --grey-60: #2b2f32;
  --grey-00: var(--grey-60);

  --focus: #f9c506;
  --highlight: #fdf0c1;
  --highlight-copy: #957604;
  --white: #FFFFFF;
  --black: #222222;

  --link-primary: var(--brand-40);
  --link-primary-hover: var(--brand-50);
  --link-secondary: var(--grey-40);
  --link-secondary-hover: var(--grey-50);

  --bg-primary: var(--grey-10);
  --bg-secondary: var(--brand-10);
  --bg-tertiary: var(--grey-30);

  --copy: var(--grey-50);
  --copy-loud: var(--grey-60);
  --copy-quiet: var(--grey-40);
  --heading: var(--grey-60);

  --shadow: var(--grey-20);
}
