// @use "all";

// this is the "root" in "root em." //
html {
  font-size: 62.5%; // Now 10px = 1rem! //
}

body {
  font-family: aktiv-grotesk, sans-serif;
  color: $color-copy;
}

h1,
h2,
h3,
h4 {
  color: $color-heading;
  font-family: "Gerorgia", serif;
  font-weight: 900;
}

h5,
h6 {
  color: $color-heading;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
}

body,
p,
li {
  font-size: 18px; // px fallback //
  font-size: 1.8rem; // default font-size for document //
  line-height: 1.5; // a nice line-height //
}

h1 {font-size: 4.8rem; margin-bottom: 3.2rem;}
h2 {font-size: 4rem; margin-bottom: 2.4rem;}
h3 {font-size: 3.2rem; margin: 7.2rem 0 1.6rem;}
h4 {font-size: 2.4rem; margin: 2.4rem 0 0.8rem;}
h5 {font-size: 2rem; margin: 2.4rem 0 0.8rem;}
h6 {font-size: 1.6rem; margin: 2.4rem 0 0.8rem;}

p, li {margin-bottom: 1.6rem;}
.hero p {
  font-size: 2.4rem;
}

li {
  list-style: none;
}
.blog {
  ol li {
    list-style: decimal;
    margin-left: 4.8rem;
  }
  ul li {
    list-style: disc;
    margin-left: 4.8rem;
  }
}

// for everything else, rem = px/10 //
footer {
  font-size: 12px;
  font-size: 1.2rem;

  // you can safely nest rems, it's still 1rem = 10px //
  .copyright {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.highlight {
  background: $color-highlight;
  border-radius: 0.8rem;
  color: $color-highlight-copy;
  padding: 0 0.8rem;
}
.timestamp {
  color: $color-grey-40;
  font-size: 1.6rem;
  font-style: italic;
  margin: 4.8rem 0;
  text-align: right;
}